llama-cpp-python -C cmake.args="-DGGML_BLAS=ON -DGGML_BLAS_VENDOR=OpenBLAS";sys_platform == "linux" or sys_platform == "windows"
llama-cpp-python -C cmake.args="-DGGML_METAL=on";sys_platform == "darwin"
